

div{
    height: 600px;
    width: 900px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

h1,h3 {
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

h1{
  color: #465ACB;
  font-size: 50px;
  margin-top: 50px;
  }

#reset {
    position:absolute;
    top: 25%;
    left: 85%;
    width: 70px;
    height: 30px;
}

#jump {
  width: 500px;
  height: 100px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6FEE75;
  color: #ffffff;
  font-size: 200%;
}
